# IDE specific files
.idea/
.vscode
.VSCodeCounter

# Build directories
build
cmake-build-debug/

# Python specific files
.conda
python/gui/__pycache__
python/gui/file_management/__pycache__

# Binary files
*.so
extra/gui/**/*.so

# JavaScript files
*.js

# Miscellaneous
TODO