.conda
build
cmake-build-debug/

# Python specific files
.conda
python/gui/__pycache__
python/gui/file_management/__pycache__
__pycache__/
*.pyc

# IDE specific files
.idea/
.vscode
.VSCodeCounter

# Build directories
build
cmake-build-debug/


# Testing directories
Testing
test-output

# Binary files
*.so

# JavaScript files
*.js

# Miscellaneous
TODO
